@using BucketProject.BLL.Business_Logic.Entity

@model List<Goal>

<h2>Notifications</h2>

@if (Model == null || Model.Count == 0)
{
    <p>No notifications </p>
}
else
{
    <ul class="list-group">
        @foreach (Goal goal in Model)
        {
            <li class="list-group-item">@goal.Description</li>
        }
    </ul>
}
