html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F8F7F0
}

footer {
    background-color: #2D2D2D
}

header {
    background-color: #2D2D2D
}
.preview-container {
    position: relative;
    width: 100%;
    height: 200px;
    border: 1px solid #000;
}

    .preview-container iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    .preview-container a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 2;
        background: rgba(0, 0, 0, 0);
    }

textarea {
    width: 100%;
    height: 100vh;
    padding: 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    border: none;
    outline: none;
    resize: none;
}

.preview-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

    .preview-wrapper iframe {
        width: 100%;
        height: 100%;
        border: none;
        pointer-events: none; 
    }

.click-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0); 
    cursor: pointer;
}

h3 {
    margin-top: 40px;
    text-align: center;
}

.input-container {
    position: relative;
    width: 200px;
}

    .input-container input[type="text"] {
        font-size: 20px;
        width: 100%;
        border: none;
        border-bottom: 2px solid #ccc;
        padding: 5px 0;
        background-color: transparent;
        outline: none;
    }

    .input-container .label {
        margin-top: 10px;
        position: absolute;
        top: 0;
        left: 0;
        color: #ccc;
        transition: all 0.3s ease;
        pointer-events: none;
    }

    .input-container input[type="text"]:focus ~ .label,
    .input-container input[type="text"]:valid ~ .label {
        top: -20px;
        font-size: 16px;
        color: #333;
    }

    .input-container .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #333;
        transform: scaleX(0);
        transition: all 0.3s ease;
    }

    .input-container input[type="text"]:focus ~ .underline,
    .input-container input[type="text"]:valid ~ .underline {
        transform: scaleX(1);
    }
/* The design is inspired from the mockapi.io */

.popup {
    --burger-line-width: 1.125em;
    --burger-line-height: 0.125em;
    --burger-offset: 0.625em;
    --burger-bg: rgba(0, 0, 0, .15);
    --burger-color: #333;
    --burger-line-border-radius: 0.1875em;
    --burger-diameter: 2.125em;
    --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
    --burger-line-transition: .3s;
    --burger-transition: all .1s ease-in-out;
    --burger-hover-scale: 1.1;
    --burger-active-scale: .95;
    --burger-enable-outline-color: var(--burger-bg);
    --burger-enable-outline-width: 0.125em;
    --burger-enable-outline-offset: var(--burger-enable-outline-width);
    /* nav */
    --nav-padding-x: 0.25em;
    --nav-padding-y: 0.625em;
    --nav-border-radius: 0.375em;
    --nav-border-color: #ccc;
    --nav-border-width: 0.0625em;
    --nav-shadow-color: rgba(0, 0, 0, .2);
    --nav-shadow-width: 0 1px 5px;
    --nav-bg: #eee;
    --nav-font-family: Menlo, Roboto Mono, monospace;
    --nav-default-scale: .8;
    --nav-active-scale: 1;
    --nav-position-left: 0;
    --nav-position-right: unset;
    /* if you want to change sides just switch one property */
    /* from properties to "unset" and the other to 0 */
    /* title */
    --nav-title-size: 0.625em;
    --nav-title-color: #777;
    --nav-title-padding-x: 1rem;
    --nav-title-padding-y: 0.25em;
    /* nav button */
    --nav-button-padding-x: 1rem;
    --nav-button-padding-y: 0.375em;
    --nav-button-border-radius: 0.375em;
    --nav-button-font-size: 12px;
    --nav-button-hover-bg: #6495ed;
    --nav-button-hover-text-color: #fff;
    --nav-button-distance: 0.875em;
    /* underline */
    --underline-border-width: 0.0625em;
    --underline-border-color: #ccc;
    --underline-margin-y: 0.3125em;
}

.checkbox-wrapper input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper *,
.checkbox-wrapper ::after,
.checkbox-wrapper ::before {
    box-sizing: border-box;
    user-select: none;
}

.checkbox-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
}

    .checkbox-wrapper .label {
        cursor: pointer;
    }

    .checkbox-wrapper .check {
        width: 50px;
        height: 50px;
        position: absolute;
        opacity: 0;
    }

    .checkbox-wrapper .label svg {
        vertical-align: middle;
    }

    .checkbox-wrapper .path1 {
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        transition: .5s stroke-dashoffset;
        opacity: 0;
    }

    .checkbox-wrapper .check:checked + label svg g path {
        stroke-dashoffset: 0;
        opacity: 1;
    }