@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>

    <table border="1" width="80%" align="center">
        <tr>
            <td align="center">
                <h3>Week Goals (Click to Edit)</h3>
            </td>
        </tr>
        <tr>
            <td>
                <div class="preview-container">
                    <iframe src="/Home/WeekGoalsPreview"></iframe>
                    <a href="/Home/WeekGoals"></a>
                </div>
            </td>
        </tr>

        <tr>
            <td align="center">
                <h3>Month Goals (Click to Edit)</h3>
            </td>
        </tr>
        <tr>
            <td>
                <div class="preview-container">
                    <iframe src="/Home/MonthGoalsPreview"></iframe>
                    <a href="/Home/MonthGoals"></a>
                </div>
            </td>
        </tr>

        <tr>
            <td align="center">
                <h3>Year Goals (Click to Edit)</h3>
            </td>
        </tr>
        <tr>
            <td>
                <div class="preview-container">
                    <iframe src="/Home/YearGoalsPreview"></iframe>
                    <a href="/Home/YearGoals"></a>
                </div>
            </td>
        </tr>
    </table>

</body>
</html>
