@{
    ViewData["Title"] = "Home page";
}


    <table border="1" width="80%" align="center">
        <tr>
            <td align="center">
                <h3>Week Goals (Click to Edit)</h3>
            </td>
        </tr>
        <tr>
            <td>
                <div class="preview-container">
                    <iframe src="/Goal/WeekGoalsPreview"></iframe>
                    <a href="/Goal/WeekGoals"></a>
                </div>
            </td>
        </tr>

        <tr>
            <td align="center">
                <h3>Month Goals (Click to Edit)</h3>
            </td>
        </tr>
        <tr>
            <td>
                <div class="preview-container">
                    <iframe src="/Goal/MonthGoalsPreview"></iframe>
                    <a href="/Goal/MonthGoals"></a>
                </div>
            </td>
        </tr>

        <tr>
            <td align="center">
                <h3>Year Goals (Click to Edit)</h3>
            </td>
        </tr>
        <tr>
            <td>
                <div class="preview-container">
                    <iframe src="/Goal/YearGoalsPreview"></iframe>
                    <a href="/Goal/YearGoals"></a>
                </div>
            </td>
        </tr>
    </table>


