@model Category

@{
    ViewData["Title"] = "Year Goals";
}


    <h2>@ViewData["Title"]</h2>

<form method="post" asp-controller="Goal" asp-action="CreateYearGoal">

    <textarea name="description" placeholder="Enter your goals here..." rows="3" required onchange="this.form.submit()"></textarea>
</form>


