@model LogInViewModel

@{
    ViewData["Title"] = "Log in";
}

<div class="mb-1 text-center">
    <img src="~/images/logo.png" alt="Bucket Logo" class="img-fluid" style="max-width: 500px;" />
</div>

<div class="login-container">
    <form asp-controller="User" asp-action="LogIn" method="post" class="login-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

      
        <input asp-for="Username" class="input-field" placeholder="Username" />
        <span asp-validation-for="Username" class="text-danger"></span>

        <input asp-for="Password" type="password" class="input-field" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <button type="submit" class="button">Sign In</button>
        <a asp-controller="User" asp-action="Register" class="button">Create account</a>

       
    </form>
</div>
