@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="register-container">
    <form asp-controller="User" asp-action="Register" method="post" class="register-form">
        <h2>Register</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="Username" class="input-field" placeholder="Enter your username" />
        <span asp-validation-for="Username" class="text-danger"></span>

        <input asp-for="Email" class="input-field" placeholder="Enter your email" />
        <span asp-validation-for="Email" class="text-danger"></span>

        <label asp-for="DateOfBirth">Date of Birth</label>
        <input asp-for="DateOfBirth" type="date" class="input-field" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>

       @if (Model.CountriesLoaded) 
       {
        <select asp-for="Nationality" asp-items="Model.Countries" class="input-field">
            <option value="">-- Select Nationality --</option>
        </select>
        }
        else
        {
            <input asp-for="Nationality"
                   class="input-field"
                   placeholder="Type your nationality" />
        }

        <span asp-validation-for="Nationality" class="text-danger"></span>
        @Html.DropDownListFor(model => model.Gender, new SelectList(new[] { "Male", "Female", "Other" }), "-- Select Gender --", new { @class = "input-field" })
        <span asp-validation-for="Gender" class="text-danger"></span>

        <input asp-for="Password" type="password" class="input-field" placeholder="Enter a password" />
        <span asp-validation-for="Password" class="text-danger"></span>

       
        <input asp-for="ConfirmPassword" type="password" class="input-field" placeholder="Confirm your password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        <button type="submit" class="button">Register</button>
        <a asp-controller="User" asp-action="LogIn" class="button">Back to Login</a>
    </form>
</div>
